/* App.css */
/* CSS For Both Navbar and SignupNavbar */
.navbar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar-header {
  background-color: #3a76b2; 
  padding: 20px;
}

.navbar-header h1 {
  margin: 0;
  color: white;
  font-size: 24px;
}

.navbar-links {
  background-color: #d3d3d3; 
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.navbar-links a {
  color: black;
  text-decoration: none;
  background-color: #d3d3d3;
  font-size: 16px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.navbar-contents {
  display: flex;
  align-items: center;
  background-color: #d3d3d3;
  padding: 10px 20px;
  justify-content: space-between;
}

.profile-pic {
  width: 40px;
  height: 40px;
}

.logo{
  cursor: pointer;
  width: 50px;
  height: 50px;
}

/* CSS For UserProfile Page */

.profile-container {
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input, select {
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.up-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.up-btn:hover {
  background-color: #0056b3;
}

/* CSS For SignUp Page */

.container {
  font-family: Arial, sans-serif;
  background-color: #e0e0e0;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.signup-form-container {
  background-color: white;
  width: 50%;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input{
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.sg-select{
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.s-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.s-btn:hover {
  background-color: #0056b3;
}

/* CSS For Loginpage */

.lg-container {
  font-family: Arial, sans-serif;
  background-color: #e0e0e0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.login-form-container {
  background-color: white;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 10%;
}

.login-form-container h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input{
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.lg-select{
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.lg-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.lg-btn:hover {
  background-color: #0056b3;
}

/* CSS for MealGenerator page */
body {
  background-color: #d3d3d3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100vh;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 40%;
}

input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.radio-group {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.radio-group label {
  margin-right: 10px;
}

input[type="radio"] {
  margin-right: 10px;
}

.generate-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e0e0e0;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.generate-button:hover {
  background-color: #ccc;
}


/* CSS For MealLoging Page */
body {
  background-color: #d3d3d3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.meal-log-container {
  background-color: white;
  border-radius: 15px;
  padding: 40px;
  margin: 100px auto;
  width: 50%;
}

h2 {
  text-align: left;
}

textarea {
  width: 100%;
  height: 80px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: none;
  font-size: 16px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.add-btn, .remove-btn {
  padding: 5px 10px;
  font-size: 18px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #e0e0e0;
  border: 1px solid #000;
  cursor: pointer;
}

.add-btn:hover, .remove-btn:hover {
  background-color: #ccc;
}

.save-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #e0e0e0;
  border-radius: 5px;
  border: 1px solid #000;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #ccc;
}
